
%h1 欢迎来到 嘎嘎香.com #{@user.name}

%p  
  %span  上联：上网，打牌，谈恋爱，虚度四年光阴， 
  %br/
  %span  下联：考研，出国，找工作，生活猪狗不如
  %br/   
  %span  横批：吃饱了撑的
  %br/
  %br/
  %span  上联：金沙江，嘉陵江，黑龙江，江江可投！
  %br/
  %span  下联：飞跃楼，教学楼，宿舍楼，楼楼可跳！
  %br/
  %span  横批：空前绝后
  %br/
  %br/

  %span  上联: 男生，女生，穷书生，生生不息！
  %br/
  %span  下联: 初恋，热恋，婚外恋，恋恋不舍!
  %br/
  %span  横批：生无可恋
  %br/
  %br/

  %span  上联：考初中 考高中 考大学 考考都愁
  %br/
  %span  下联：抄语文 抄数学 抄英语 抄抄就过
  %br/
  %span  横批: 不信挂科
  %br/
  %br/

  %span  上联: 昨夜校园漫步,看见青蛙装酷,呕吐,呕吐,只能拿头撞树
  %br/
  %span  下联: 今日球场摆酷,忽闻恐龙撞树,恐怖,恐怖,可怜那棵小树
  %br/
  %span  横批: 倩女幽魂
  %br/
  %br/

  %span  上联: 忆往昔峥嵘岁月,老婆一个,孩子一帮。
  %br/
  %span  下联: 看今朝太平盛世,孩子一个,老婆一帮。
  %br/
  %span  横批：与时俱进
  %br/
  %br/

%p  您已经成功地注册了  嘎嘎香.com  您的用户名是: #{ @user.login }.

%p  要登录该网站，请点击此链接:
%a{:href => @url } 点此登录

%p  感谢你的加盟！