- if user_signed_in?
  .page-chat-bar{:data => {:'user-id' => current_user.id, :'user-name' => current_user.name}}
    .contacts
      - User.limit(5).where('id <> ?', current_user.id).each do |user|
        .user{:data => {:id => user.id, :name => user.name}}
          .name= user.name
    .chat-box{:style => "display:none;"}
      .headbar
        %a.close{:href => "javascript:;"} [X]
        .avatar
        .content
          %span 和
          %span.name
          %span 聊天
      .chatlog{:style => "overflow:auto;"}
      .inputer
        %textarea.ipt
        %a.btn.success.small.send{:href => "javascript:;"} 发送

- else
  .not-login= "no login"